body {
  margin: auto;
}

header {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  background-color: #f3e9f1;
  height: auto;
}
header .header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 5px;
}
header a img {
  max-width: max-content;
  display: inline-block;
  padding-left: 30px;
  margin: auto;
}
header .fa-shopping-basket {
  padding-right: 15px;
}
header .panier {
  text-decoration: none;
  color: #38332E;
  font-family: "Montserrat", sans-serif;
  margin: auto 30px auto 5px;
  text-align: right;
  opacity: 0.9;
  transform: scale(0.9);
  transition: transform 300ms ease-in-out;
}

header #quantity-in-the-basket {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  color:#fff;
  padding: 1px 6px;
  border: 0;
  border-radius: 15px;
  background-color: red;
  position: relative;
  left: 42px;
  bottom: 8px;
}

header .fa-shopping-basket {
  font-size: 1.4em;
}

header .panier:hover {
  opacity: 1;
  transform: scale(1);
}

.banner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: #38332E;
  padding: 0 30px;
}

.quote {
  color: #ADADAD;
}

.tel {
  color: #fff
}

.fa-phone-alt {
  padding-right: 10px;
}

main {
  background-color: #F1F1F1;
  margin: auto;
  padding-bottom: 40px;
}

main h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #FF7E00;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}
main h2 {
  font-family: "Montserrat", sans-serif;
  color: #38332E;
  text-align: center;
  margin: auto;
  font-size: 1.2em;
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
}

main h3 {
  font-family: "Poppins", sans-serif;
  color: #38332E;
  font-size: 1em;
  font-weight: lighter;
}

.logo {
  opacity: 0.9;
  transform: scale(0.9);
  transition: transform 300ms ease-in-out;
}
.logo:hover {
  opacity: 1;
  transform: scale(1);
}

footer {
  margin: auto;
  height: auto;
  background-color: #0F9192;
  color: #38332E;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 8px;
}
footer div {
  width: 150px;
  margin: 15px auto;
  padding: 10px 30px;
  background-color: #fff;
  text-align: center;
}
footer div a {
  color: #FF7E00;
  margin: auto;
  padding-bottom: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
}
footer div a:hover {
  color: #38332E;
}

#teddies {
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 45px;
}

#teddies div p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
}

#teddies div span {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

.home button {
  display: flex;
  margin: auto auto 30px auto;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: #38332E;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  transition: background-color 300ms ease-in-out;
}
.home button:hover {
  background-color: #FF7E00;
}
.home button a {
  text-decoration: none;
  color: #F1F1F1;
}

article {
  width: 220px;
  height: 300px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 2px 2px 10px #e8e6eb;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin-bottom: 17px;
  padding: 5px;
}

article a {
  text-decoration: none;
}

/*----------------------------------------------*/
article img {
  width: 100%;
  height: 166px;
  object-fit: cover;
}

.article-card__title {
  height: 50px;
}

.article-card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  border-top: solid 1px #bababa;
  color: #8bb807;
}

.fa-check {
  font-size: 0.9em;
  color: #8bb807;
  margin-right: 5px;
}

.article-card__price {
  font-weight: 600;
  margin-right: 10px;
  color: #38332E;
}



.main-product {
  padding:20px 0;
  background-color: #fff;
}

#produit {
  /*@mixin flex_center {
    display: flex;
    justify-content: center;
}*/
  display: flex;
  justify-content: center;
  margin: 45px 0;
}

.div-img-product{
  margin-right: 20px;
  padding: 5px;
}

.product-photo {
  width: 400px;
  height: auto;
}

.product-info {
  width: 350px;
  height: auto;
}

.product-info h2 {
  text-align: start;
  font-weight: 600;

}

.product-info .product-price {
  text-align: end;
  font-size: 2.5em;
  font-weight: 600;
  margin: 10px 70px;
}

.product-info .color-choice {
  display: flex;
  justify-content: center;
}

.product-info label {
  font-size: 1.3em;
  color: #0F9192;
}

.product-info #selection {
  margin-left: 10px;
}

.product-info #submit {
  border: solid 1px #ADADAD;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  background-color: #8bb807;
  margin-top: 20px;
  padding: 8px 10px;
  transition: background-color 25ms ease-in-out;
}

.product-info #submit:hover {
  color: #38332E;
}

.product-info #submit:active {
  background-color: #ADADAD;
  color: #fff;
}

.product-info #submit:hover+.fa-plus-circle {
  transform: scale(1.3);
  color: #0F9192;
}

.product-info .fa-plus-circle {
  font-size: 1.5em;
  color: #38332E;
  position: relative;
  left: -10px;
  bottom: 15px;
  transition: all 50ms ease-in-out;
}








#main-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.panierh1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #FF7E00;
  text-align: start;
  margin: auto;
  padding-top: 20px;
}

.stored-product-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.stored-product-div .empty-cart {
  font-size: 2em;
  text-align: center;
  color: #38332E;
  width: 55%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 10px #e8e6eb;
  overflow: hidden;
  margin: 30px auto;
  padding: 35px 0;
}

.stored-product-div .total-price-div{
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 60px;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #38332E;
  border-radius: 15px;
  background: #d9d7d7;
  margin: 30px auto;
  padding: 0 30px;
}

.stored-product-div .total-price-div p{
  margin: auto 0;
}

.stored-product-div .total-price-div span{
  margin: auto 0;
}

.stored-product-div .clear-cart{
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  color: #38332E;
  border: none;
  margin: 10px auto;
  padding: 0 10px;
}

.stored-product-div .clear-cart a {
  text-decoration: none;
}

.stored-product-div .clear-cart a .fa-trash-alt {
  color: red;
  margin-left: 10px;
}



.stored-product-div .each-product {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  color: #38332E;
  width: 55%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 10px #e8e6eb;
  padding: 5px 5px;
  margin: 1px auto;
}

.stored-product-div .each-product .div-img-cart {
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.stored-product-div .each-product .div-img-cart .cart-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: auto;
}

.stored-product-div .each-product p {
  font-size: 1em;
  font-weight: 500;
  margin-right: auto;
  color: #38332E;
}
.stored-product-div .each-product .product-price {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.stored-product-div .each-product .product-price span {
  font-size: 1.1em;
  font-weight: 600;
  margin: auto;
}

.stored-product-div .each-product .product-price .delete-button {
  font-size: 1.3em;
  background-color: unset;
  border: none;
  transition: all 50ms ease-in-out;
  color: red;
}

.stored-product-div .each-product .product-price .delete-button:hover {
  transform: scale(1.2);
}

#main-cart h2, .order-form h2 {
  text-align: center;
  font-size: 2.1em;
  font-family: "Poppins", sans-serif;
  margin: 25px 0;
}

.order-form {
  width: 50%;
  margin: 20px auto;
  border: solid 5px #0F9192;
  border-radius: 30px;
  padding: 0 50px;
}

.order-form span {
  font-size: 0.6em;
}

.order-form label {
  font-size: 1.3em;
  margin-bottom: 15px;
}

.order-form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.order-form .submit-order {
  display: flex;
  justify-content: center;
}

.order-form #valid {
  border-radius: 15px;
  border: none;
  background-color: #0F9192;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  height: 50px;
  margin: 10px 0 30px 0;
  padding: 0 20px;
  color: #fff;
  transition: all 300ms ease-in-out;
}

.order-form #valid:hover {
  background-color: #085a5a;
  color: #ADADAD;
}

#confirmation-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

#confirmation-main p {
  font-family: "Poppins", sans-serif;
}

#confirmation-main .total-price-resume {
  margin-bottom: 50px;
}

@media (max-width: 760px)  {
  .quote-display-none {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */
