<!DOCTYPE html>
<html lang="fr">
	<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Oribears | Oursons à personnaliser</title>

        <meta name="description" content="Oribears propose à la vente des oursons faits mains, de parfaits doudous tout doux!">
        <meta name="robots" content="index, follow">
        <link rel="stylesheet" href="../../css/style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        
        <link rel="shortcut icon" href="../../img/favicon_io/favicon.ico" />

        <script src="https://kit.fontawesome.com/518eb70a16.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="header">
                <a href="index.html" class="logo"><img src="../../img/logo_orinoco.png" alt="logo de Orinoco" title="Orinoco"/></a>
                <a href="../panier/panier.html" class="panier" title="Votre panier"><span id="quantity-in-the-basket"></span><i class="fas fa-shopping-basket"></i>Votre panier</a>
            </div>
        </header>
        <div class="banner-top">
            <div>
                <span class="quote">Oribears.com |</span><span class="quote quote-display-none"> Vente d'ours en peluche faits mains, de parfaits doudous tout doux!</span>
            </div>
            <span class="tel"><i class="fas fa-phone-alt"></i>04 56 80 23 00</span>
        </div>
        <main>
            <h1>Oribears</h1>
            <h2>Des ours en peluche 100% fait main !</h2>
            <div id="teddies">
                <!--<article>
                    <a href="la_note_enchantee.html" title="'Ours en peluche Name'">
                        <div class="div-img">
                            <img class="article-card__photo" src="img/teddy_1.jpg" alt="Ours en peluche brun">
                        </div>
                        <div class="article-card__title">
                            <h3>Ours en peluche Name</h3>
                            <div>
                                <p><i class="fas fa-check"></i>EN STOCK</p>
                                <span class="article-card__price">Price</span>
                            </div>
                        </div>
                    </a>
                </article>-->
            </div>
        </main>
        <footer>
                <h2>Orinoco | Le "e-commerce" par type de produit</h2>
                <div>
                    <a href="https://stephanefou.github.io/Fofoustephane_5_05062021/" title="Notre site Orinoco">https://orinoco.com/</a>
                </div>
                
        </footer>
        <script type='text/javascript' src="index.js"></script>
    </body>
</html>
    