@import "./utils/_variables.scss";
@import "./utils/_mixins.scss";
@import "./utils/_responsive.scss";

body {
    margin: auto;
}




header {
    @include header;
    .header{
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 5px;
    }
    a img{
        max-width: max-content;
        display: inline-block;
        padding-left: 30px;
        margin: auto;
    }

    .fa-shopping-basket {
        padding-right: 15px;
    }
    .panier {
        text-decoration: none;
        color: $main-color;
        font-family: $main-font;
        margin: auto 30px auto 5px;
        text-align: right;
        opacity: 0.9;
        transform: scale(0.9);
        transition: transform 300ms ease-in-out;
        &:hover {
            opacity: 1;
            transform: scale(1);
        }
        #quantity-in-the-basket {
            font-family: $second-font;
            font-size: 0.8em;
            font-weight: 600;
            color: #fff;
            padding: 1px 6px;
            border: 3px solid #fff;
            border-radius: 15px;
            background-color: $secondary-color;
            position: relative;
            left: 42px;
            bottom: 14px;
          }
          .fa-shopping-basket {
            font-size: 1.4em;
          }
    }
}




.banner-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $main-font;
    font-size: 0.8em;
    height: 30px;
    background-color: $main-color;
    padding: 0 30px;
    .quote {
        color: #ADADAD;
    }
    .tel {
        color: #fff
    }
    .fa-phone-alt {
        padding-right: 10px;
    }
}




main {
    @include main;
    h1 {
        font-family: $main-font;
        font-size: 2em;
        color: $section-color;
        text-align: center;
        margin: auto;
        padding-top: 20px;
    }
    h2 {
        font-family: $main-font;
        color: $main-color;
        text-align: center;
        margin: auto;
        font-size: 1.2em;
        font-weight: lighter;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h3 {
        font-family: $second-font;
        color: $main-color;
        font-size: 1em;
        font-weight: lighter;
    }
}




footer {
    @include footer;
    @include flex_column;
    h2 {
        font-family: $main-font;
        font-size: 1em;
        font-weight: 400;
        color: #fff;
        text-align: center;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 8px;
    }

    div {
        width: 150px;
        margin: 15px auto;
        padding: 15px 30px;
        background-color: #fff;
        text-align: center;
        border-radius: 15px;
        a {
            color: $section-color;
            margin: auto;
            font-family: $main-font;
            font-size: 0.9em;
            &:hover{
                color: $main-color;
            }
        }
    }
}




#main-list {
    @include flex_column;
    div p {
        font-family: $second-font;
        font-size: 0.8em;
    }
    div span {
        font-family: $second-font;
        font-size: 1em;
    }
    .list-div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 150px;
        margin-top: 45px; 
    }
}

.home {
    button{
        display: flex;
        font-family: $main-font;
        font-size: 1em;
        font-weight: 500;
        height: 40px;
        margin: auto auto 30px auto;
        padding: 10px;
        border-radius: 15px;
        border: none;
        background-color: #38332E;
        color: #fff;
        transition: background-color 300ms ease-in-out;
        &:hover {
            background-color: $section-color;
        }
        a {
            text-decoration: none;
            color: $body-color;
        }
    }
}

article {
    font-family: $second-font;
    width: 220px;
    height: 300px;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 2px 2px 10px #e8e6eb;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-bottom: 17px;
    padding: 5px;
    &:hover {
        transform: scale(1.03);
      }
    a {
        text-decoration: none;
    }
    img {
        width: 100%;
        height: 166px;
        border-radius: 9px 9px 0 0;
        object-fit: cover;
    }
    .article-card__title {
        height: 50px;
    }
    .article-card__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 66px;
        border-top: solid 1px #bababa;
        color: #8bb807;
        .fa-check {
            font-size: 0.9em;
            color: #8bb807;
            margin-right: 5px;
        }
        .article-card__price {
            font-weight: 600;
            margin-right: 10px;
            color: #38332E;
        }
    }
}



#main-product {
    @include flex_column;
    .product-card {
        @include flex_center;
        margin: 45px 0;
        .div-img-product {
            border: 10px solid #fff;
            border-radius: 15px;
            margin-right: 30px;
            padding: 5px;
        }
        .product-photo {
            width: 400px;
            height: auto;
        }
        .product-info {
            font-family: $main-font;
            width: 350px;
            height: auto;
            padding: 5px;
            h2 {
                text-align: start;
                font-weight: 600;
            }
            .description {
                text-align: justify;
                font-size: 15px;
            }
            .product-price {
                color: $main-color;
                text-align: end;
                font-size: 2.5em;
                font-weight: 600;
                margin: 10px 10px;
            }
            form {
                @include flex_column;
                .customization-div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 0;
                    label {/*********************************************/
                        font-size: 1.3em;
                        color: $secondary-color;
                        margin-right: 7px;
                    }
                    .color-choice {
                        #color-selection {
                            height: 40px;
                            border: none;
                            border-radius: 15px;
                            padding-left: 10px;
                        }
                    }
                    .number-choice {
                        .button-minus, .button-plus {
                            color: $secondary-color;
                            padding: 4px 5px 2px 5px;
                            border: solid 1px $secondary-color;
                            border-radius: 15px;
                            margin: 0 4px;
                            &:hover {
                                color: #fff;
                                background-color: $main-color;
                                border: solid 1px $main-color;
                            }
                            &:active {
                                color: #fff;
                                background-color: #adadad;
                                border: solid 1px #adadad;
                            }
                        }
                        .quantity-value {
                            width: 60px;
                            height: 40px;
                            padding: 0;
                            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                            }
                        }
                    }
                }
            }
            .submit-div {
                @include flex_center;
                align-items: center;
                margin-top: 20px;
                padding: 5px 0;
                #submit {
                    width: 50%;
                    height: 40px;
                    border: solid 1px #ADADAD;
                    border-radius: 12px;
                    color: #fff;
                    font-weight: 600;
                    background-color: $section-color;
                    padding: 8px 10px;
                    transition: background-color 25ms ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                        color: #38332E;
                        font-weight: bolder;
                        background-color: $secondary-color;
                    }
                    :active {
                        background-color: #ADADAD;
                        color: #fff;
                    }
                }
            }
            .fa-cart-plus {
            font-size: 1.8em;
            color: #38332E;
            margin-right: 15px;
            position: relative;
            left: 15px;

            }
        }
    }
}



label {
    font-family: "Poppins", sans-serif;
}

input {
    height: 40px;
    outline: none;
    border: none;
    border-radius: 15px;
    padding-left: 15px;
}

input[type='text'], input[type='number'] {
    font-size: 1em;
    text-align: center;
}




#main-cart {
    @include flex_column;
    h2 {
        text-align: center;
        font-size: 2em;
        font-family: $second-font;
        white-space: nowrap;
        margin: 0;
    }
    .panierh1 {
        font-family: $main-font;
        font-size: 2em;
        color: $section-color;
        text-align: start;
        margin: auto;
        padding-top: 20px;
    }
    .stored-product-div {
        @include flex_column;
        padding: 10px;
        .empty-cart {
            font-size: 2em;
            text-align: center;
            color: $main-color;
            width: 55%;
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 2px 2px 10px #e8e6eb;
            overflow: hidden;
            margin: 30px auto;
            padding: 35px 0;
        }
        .each-product {
            display: flex;
            justify-content: space-between;
            font-size: 1em;
            font-family: $second-font;
            color: $main-color;
            white-space: nowrap;
            width: 55%;
            height: 50px;
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 2px 2px 10px #e8e6eb;
            padding: 5px 5px;
            margin: 1px auto;
            .div-img-cart {
                display: flex;
                width: 50px;
                height: 50px;
                margin-right: 15px;
                .cart-photo {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    margin: auto;
                }
            }
            p {
                font-size: 1em;
                font-weight: 500;
                margin-right: auto;
                color: #38332E;
            }
            .product-price {
                display: flex;
                justify-content: space-between;
                width: 150px;
                span {
                    font-size: 1.1em;
                    font-weight: 600;
                    margin: auto;
                }
                .delete-button {
                    font-size: 1.3em;
                    background-color: unset;
                    border: none;
                    transition: all 50ms ease-in-out;
                    color: red;
                    :hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
        .price-clear {
            display: flex;
            justify-content: space-between;
            width: 55%;
            font-family: $second-font;
            font-weight: 600;
            color: $main-color;
            border-radius: 15px;
            background: #d9d7d7;
            margin: 30px auto 55px auto;
            padding: 5px;
            .total-price-div {
                display: flex;
                justify-content: space-between;
                width: 70%;
                height: 60px;
                font-size: 1.5em;
                padding: 0 0 0 30px;
                p, span {
                    margin: auto 0;
                }
            }
            .total-price-div-bis {
                display: flex;
                align-items: center;
                .price-value {
                    font-size: 1.5em;
                    margin: auto 34px auto auto;
                }
                button {
                    font-size: 1.5em;
                    border: none;
                    background-color: #d9d7d7;
                    padding: 0 6px 0 0;
                    text-decoration: none;
                }
                .clear-cart a .fa-trash-alt {
                    color: red;
                    margin-left: 10px;
                    background-color: none;
                    transition: all 50ms ease-in-out;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
    .separator-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px 0 20px;
        .separator {
            height: 4px;
            background-color: $secondary-color;
            border-radius: 120px;
            margin: 10px 0px;
            flex-basis: 48%;
        }
        .separator-title-div {
            font-family: $main-font;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: auto;
            margin: 0 10px;
            padding: 5px;
            .separator-wrapper-title {
                width: 100%;
            }
            span {
                font-size: 1.2em;
                text-align: center;
            }
        }
    }
    .order-form {
        width: 50%;
        margin: 20px auto;
        padding: 0 50px;
        .field {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            label {
                font-size: 1.3em;
                margin-bottom: 15px;
            }
            textarea {
                border-radius: 15px;
            }
            .input {
                border: none;
                &[type='text'] {
                    text-align: start;
                }
            }
        }
        .submit-order {
            @include flex_center;
            #valid {
                border-radius: 15px;
                border: none;
                background-color: $section-color;
                font-family: $main-font;
                text-align: center;
                font-size: 1.2em;
                font-weight: 500;
                height: 50px;
                margin: 10px 0 30px 0;
                padding: 0 20px;
                color: #fff;
                transition: all 30ms ease-in-out;
                &:hover {
                    background-color: #085a5a;
                    color: #ADADAD;
                }
                &:active {
                    background-color: #ADADAD;
                    color: #fff;
                }
            }
        }
        
    }
    
}




#confirmation-main {
    @include flex_column;
    text-align: center;
    padding: 5px;
    .confirmation-order-empty {
        padding: 5px;
        width: 70%;
        background-color: #fff;
        border-radius: 15px;
        margin: auto;
        p {
            font-family: $second-font;
            margin-bottom: 70px;
        }
    }
    .confirmation-order {
        padding: 5px;
        p {
            font-family: $second-font;
        }
        .order-resume {
            text-align: center;
            width: 70%;
            background-color: #fff;
            padding: 10px 0 20px 0;
            margin: 20px auto 50px auto;
            border-radius: 15px;
            span {
                font-size: 1em;
                font-weight: 600;
            }
        }
    }
}




@media (max-width: 760px) {
    .quote-display-none {
      display: none;
    }
}


@keyframes headshake {
    12% {
        /*// entièrement à droite*/
        transform: translateX(8px);
    }

    37% {
        /*// entièrement à gauche*/
        transform: translateX(8px*-1);
    }

    62% {
        /*// entièrement en haut*/
        transform: translateY(8px);
    }

    87% {
        /*// entièrement en bas*/
        transform: translateY(8px* -1);
    }
}
  
.product-info #submit:hover+.fa-cart-plus {/*.product-info .fa-cart-^mus ne marche pas en tant que frère*/
    animation: headshake 150ms cubic-bezier(.4,.1,.6,.9) 3; /*animation-iteration-count =2 est directement intégré dans la propriété raccourcie animation:*/
}



@import "./utils/_responsive.scss";