<!DOCTYPE html>
<html lang="fr">
	<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Oribears | Doudous</title>

        <meta name="description" content="Oribears propose à la vente des oursons faits mains, de parfaits doudous tout doux!">
        <meta name="robots" content="index, follow">
        <link rel="stylesheet" href="../../css/style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        
        <link rel="shortcut icon" href="../../img/favicon_io/favicon.ico" />

        <script src="https://kit.fontawesome.com/518eb70a16.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="header">
                <a href="../vue/index.html" class="logo"><img src="../../img/logo_orinoco.png" alt="logo de Orinoco" title="Orinoco"/></a>
                <a href="../panier/panier.html" class="panier" title="Votre panier"><i class="fas fa-shopping-basket"></i>Votre panier</a>
            </div>
        </header>

        <div class="banner-top">
            <div>
                <span class="quote">Oribears.com |</span><span class="quote quote-display-none"> Vente d'ours en peluche faits mains, de parfaits doudous tout doux!</span>
            </div>
            <span class="tel"><i class="fas fa-phone-alt"></i>04 56 80 23 00</span>
        </div>
        
        <main class="main-product">
            <h1>Oribears</h1>
            <div id="produit">
                <!--<div class="div-img-product">
                    <img class="product__photo" src="../../img/teddy_1.jpg" alt="Ours en peluche brun">
                </div>
                <div class="?">
                    <h2 class="title">Ours en peluche Name</h2>
                    <p class="description">product-description</p>
                    <span price></span>
                    <div class="form">
                        <div class="color_choice">
                            <label for="Choix de couleurs pour ours Name">Choix de la couleur : </label>
                            <select name="Choix de couleurs pour ours Name" id="select_1 ">
                                <option value="Tan">Tan</option>
                                <option value="Chocolate">Chocolate</option>
                                <option value="Black">Black</option>
                                <option value="White">White</option>
                            </select>
                        </div>
                        <button type="submit" name="addToCart" id="submit">Ajouter au panier</button>
                    </div>
                </div>-->
            </div>
        </main>
        <div class="home">
            <button><a href="../vue/index.html" title="Retourner à la page d'accueil">< Continuer mes achats</a></button>
        </div>
        <footer>
                <h2>Orinoco | Le "e-commerce" par type de produit</h2>
                <div>
                    <a href="https://stephanefou.github.io/Fofoustephane_5_05062021/" title="Notre site Orinoco">https://orinoco.com/</a>
                </div>
                
        </footer>
        <script type='text/javascript' src="produit.js"></script>
    </body>
</html>
    